/* FONTES UTILIZADAS */
@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: Baskervville;
    src: url(/fonts/Baskervville-Regular.ttf)
}

body {
    font-family: Inter;
    text-align: center;
}
.straykids{
    width: 50%;

}

h1 {
    font-size: 24px;
    font-family:Inter;

}
h2{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.navegacao{
    background-color: #f864f8;
    color: #4df778;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

.cabecalho{
    font-family: Inter;
    background: black;


}